.header {
	background-color: #282c34;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
}

h1 {
	text-align: center;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.label {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	padding: 1rem;
}

.checkbox {
	width: 1rem;
	height: 1rem;
	align-self: center;
	margin: 1rem;
}

.checked {
	text-decoration: line-through;
}

.button {
	width: 7rem;
	height: 2.5rem;
	font-size: 1rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin: 1.5rem;
}

.searchBar {
	font-size: 1.1rem;
	padding: 0.5rem;
}

.buttonGroup {
	width: 4.5rem;
	padding: 0;
}

.editButton {
	width: 4.5rem;
	height: 1.7rem;
	font-size: 1rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
