.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 12rem;
	height: 12rem;
	background-color: blanchedalmond;
}

.cells {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	border: 1px solid black;
	font-size: 3rem;
	color: #000;
}

.btn {
	margin: 1.5rem 0 0 0;
	cursor: pointer;
	border: none;
	height: 2.5rem;
	width: 6rem;
	border-radius: 0.5rem;
	font-size: 1.15rem;
}

.btn:active {
	transform: scale(0.98);
}
